[submodule "lib/ADS1X15"]
	path = lib/ADS1X15
	url = https://github.com/RobTillaart/ADS1X15
[submodule "lib/SD"]
	path = lib/SD
	url = https://github.com/arduino-libraries/SD
[submodule "lib/hd44780"]
	path = lib/hd44780
	url = https://github.com/duinoWitchery/hd44780
[submodule "lib/SST25VF"]
	path = lib/SST25VF
	url = https://github.com/nullboundary/SST25VF
